<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PetDevShop - The dev petshop</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" type="image/png" href="/images/favicon.png" />
</head>

<body>
  <header>
    <div class="container">
      <a href="/">PetDevShop</a>
      <form method="GET" action="/search">
        <input type="search" name="q" placeholder="Search for a breed" />
      </form>
    </div>
  </header>
  <nav>
    <ul>
      <li class="active"><a href="/">All</a></li>
      <li class=""><a href="/dogs">Dogs</a></li>
      <li class=""><a href="/cats">Cats</a></li>
      <li class=""><a href="/fishes">Fishes</a></li>
    </ul>
  </nav>